name: test
on: [push, pull_request]
jobs:
  tox:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
        python: ['3.8', '3.9', '3.10', '3.11']
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python }}

      - run: pip install -r test_reqs.txt
      - run: flake8 .
      - run: pylint --rcfile=pylintrc pylti1p3 tests
      - run: mypy src
      - run: black src --check --diff --extend-exclude ".*/migrations/.*"
      - run: coverage run -m unittest -v tests
      - run: coverage report -m
